<div id="edit_new">
	<%= error_messages_for :license %>
	<% form_for(:license, @license, :url => licenses_path, :html => { :class => 'new_license', :id => 'new_license' }) do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<% end %>
</div>
