<div id="edit">
	<%= error_messages_for :asset %>
	<% form_for(:asset, @asset, :url => network_item_path(@asset)) do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<% end %>
</div>

