<div id="edit">
	<%= error_messages_for :asset %>
	<% form_for(:asset, @asset, :url => wireless_item_path(@asset), :html => { :method => :put }) do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<% end %>
</div>

