<h1>Editing NetRestore configuration</h1>

<% form_for(@nr_configuration) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', nr_configuration_path %> |
<%= link_to 'Back', nr_configurations_path %>
